<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

<!-- Insert custom JS imports here -->
<%- include("partials/footer") %>