<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<%- include("partials/header-end") %>

<section id="section-projects">
  <% for (project of projects) { %>
      <div class="div-project">
        <h3>Project Name: </h3>
        <p><%- project.name %></p>
        <h4>IMG URL: </h4>
        <a href="<%- project.img %>"><%- project.img %> </a>
        <h4>Description:</h4>
        <p><%- project.description %></p>
      </div>
  <% } %> 
</section>

<!-- Insert custom JS imports here -->
<%- include("partials/footer") %>