<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel='stylesheet' href='/stylesheets/projects.css' />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

<main>
  <button id="toggle-view-button">Delve Deeper (Advanced View)</button>
  <section id="section-projects">
    <% for (project of projects) { %>
        <a class="card" href="/projects/<%= project.name %>" target="_blank">
          <header>
            <h1 class="card-title"><%= project.name %></h1>
          </header>
          <img src="<%- project.img %>" alt="">
          <footer>
            <p class="view-simple"><%= project.descriptionSimple %></p>
            <p class="view-advanced hidden"><%= project.descriptionAdvanced %></p>
          </footer>
        </a>
    <% } %> 
  </section>
</main>

<!-- Insert custom JS imports here -->
<script src="/scripts/projects.js"></script>
<%- include("partials/footer") %>