<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel='stylesheet' href='/stylesheets/projects.css' />
<%- include("partials/header-end") %>

<h1>Projects</h1>
<button>Delve Deeper (Advanced View)</button>
<section id="section-projects">
  <% for (project of projects) { %>
      <div class="div-projects">
        <h3><%- project.name %></h3>
        <h4>IMG URL: </h4>
        <a href="<%- project.img %>"><%- project.img %> </a>
        <p><%- project.description %></p>
      </div>
  <% } %> 
</section>

<!-- Insert custom JS imports here -->
<%- include("partials/footer") %>