<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel='stylesheet' href='/stylesheets/projects.css' />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

<button id="toggle-view-button">Delve Deeper (Advanced View)</button>
<section id="section-projects">
  <% for (project of projects) { %>
      <div class="div-projects">
        <h3><%- project.name %></h3>
        <img src="https://picsum.photos/id/1076/600/400" alt="">
        <p class="view-simple"><%- project.descriptionSimple %></p>
        <p class="view-advanced hidden"><%- project.descriptionAdvanced %></p>
      </div>
  <% } %> 
</section>

<!-- Insert custom JS imports here -->
<script src="/scripts/projects.js"></script>
<%- include("partials/footer") %>