<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/socials.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>